[Unit]
Description=Telegram Session Bot
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/TeleSessionBot
EnvironmentFile=/home/ubuntu/TeleSessionBot/.env
ExecStart=/home/ubuntu/TeleSessionBot/venv/bin/python3 /home/ubuntu/TeleSessionBot/bot.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=sessionbot

[Install]
WantedBy=multi-user.target
